<%- include('../layouts/_header'); %>
    <h1><%= title %></h1>
    <p><%= text %></p>
    <p>Redirecting to <a href="/users">users page</a>.</p>
    <script>
        window.setTimeout(function () {
            window.location.assign("/users");
        }, 2000);
    </script>
<%- include('../layouts/_footer'); %>