            <fieldset>
                <input type="hidden" name="nonce" value="<%= nonce %>" />
                <p>
                    <label for="userName">Name:</label>
                    <input id="userName" type="text" name="name" value="<%= user.name %>" required/>
                </p>
                <p>
                    <label for="userPassword">Password:</label>
                    <input id="userPassword" type="text" name="password" value="" required/>
                </p>
                <p>
                    <input type="submit" />
                </p>
            </fieldset>