<%- include('../layouts/_header'); %>
    <h1><%= title %></h1>
    <p>Are you sure you want to log out?</p>
    <form method="POST" action="">
        <input type="hidden" name="nonce" value="<%= nonce %>" />
        <button type="submit">Yes, log me out</button>
    </form>
    <p>
        <a href="/users/">No, I do not want to log out</a>
    </p>
<%- include('../layouts/_footer'); %>