<%- include('../layouts/_header'); %>
    <h1><%= title %></h1>
    <form id="new-form" action="/users" method="POST">
        <%- include('_form'); %>
    </form>
<p>Already have an account? <a href="/users/login/">Log in here</a>.</p>
    <script type="text/javascript" src="/javascripts/jquery-validate.min.js"></script>
    <script type="text/javascript" src="/javascripts/sha512.min.js"></script>
    <script type="text/javascript">
        jQuery(function ($) {
            $('.js-nojavascript').val(false);
            $('.js-nojswarning').remove();
            $('#new-form').validate({
                submitHandler: function (form) {
                    var data = $(form).serialize().replace(/password=([^&]*)/, function (_, password) {
                        var shaObj = new jsSHA(password, 'TEXT');
                        return 'password=' + shaObj.getHash('SHA-512', 'HEX');
                    });
                    $.ajax({
                        method: 'POST',
                        url: form.action,
                        data: data,
                        dataType: 'json'
                    }).success(function (newUser) {
                        window.location.href = "/users/" + newUser.id;
                    }).error(function () {
                        alert("Invalid entry. Please re-enter the data.");
                    });
                }
            });
        });
    </script>
<%- include('../layouts/_footer'); %>