            <fieldset>
                <input type="hidden" name="nonce" value="<%= nonce %>" />
                <p>
                    <label for="postTitle">Title:</label>
                    <input id="postTitle" type="text" name="title" value="<%= post.title %>" required/>
                </p>
                <p>
                    <label for="postDescription">Description:</label>
                    <textarea id="postDescription" name="description" rows="10" cols="50"><%= post.description %></textarea>
                </p>
                <p>
                    <label for="postLink">Link:</label>
                    <input id="postLink" type="text" name="link" value="<%= post.link %>" required/>
                </p>
                <p>
                    <input type="submit" />
                </p>
            </fieldset>