            <fieldset>
                <p>
                    <label for="postTitle">Title:</label>
                    <input id="postTitle" type="text" name="title" value="<%= post.title %>" required/>
                </p>
                <p>
                    <label for="postDescription">Description:</label>
                    <textarea id="postDescription" name="description" rows="10" cols="50" required><%= post.description %></textarea>
                </p>
                <p>
                    <label for="postUser">Author:</label>
                    <select id="postUser" name="UserId" required>
                        <option disabled="disabled">Select a user...</option>
                        <% users.forEach(function (user) { %>
                            <option value="<%= user.id %>" <% if (user.id == post.UserId) { %>selected<% } %>><%= user.name %></option>
                        <% }); %>
                    </select>
                </p>
                <p>
                    <input type="submit" />
                </p>
            </fieldset>
            <script type="text/javascript" src="/javascripts/jquery-validate.min.js"></script>
            <script type="text/javascript">
                jQuery(function ($) {
                    $('#post-form').validate({
                        submitHandler: function (form) {
                            var data = $(form).serialize();
                            $.ajax({
                                method: $(form).data('method'),
                                url: form.action,
                                data: data,
                                dataType: 'json'
                            }).success(function (post) {
                                window.location.href = "/posts/" + post.id;
                            }).error(function () {
                                alert("Invalid entry. Please re-enter the data.");
                            });
                        }
                    });
                });
            </script>