<%- include('../layouts/_header'); %>
    <h1><%= title %></h1>
    <form id="post-form" action="/posts" method="POST" data-method="POST">
        <%- include('_form'); %>
    </form>
<%- include('../layouts/_footer'); %>